@font-face {
        font-family: "Quicksand";
        src: url("quicksand/quicksand-variablefont_wght-webfont.woff") format("woff");
        src: url("quicksand/quicksand-variablefont_wght-webfont.woff2") format("woff2");
}

body {
        background-color: black;
        color: white;
        font-family: "Quicksand", sans-serif;
        text-align: center;
        padding: 10px;
}


h1, h2, h3 {
        color: white;
        font-family: "Quicksand", sans-serif;
        text-align: center;
        margin: 10px;
}

p {
        padding-bottom: 10px;
}

img {
        margin: 0px;
        border-radius: 50%;
}

a {
        background-color: rgba(61, 60, 60, 0.459);
        color: white;
        font-family: "Quicksand";
        font-weight: 600;
        font-size: 25px;
        border: 0px;
        padding: 16px;
        cursor: pointer;
        border-radius: 12px;
        width: 90%;
        max-width: 500px;
        margin: 10px auto;
        display: block;
}
