img {margin: 0px;
border-radius: 50%;}

@font-face {
        font-family: 'quicksand';
        src: url(/quicksand/quicksand-variablefont_wght-webfont.woff) format('woff');
        src: url(/quicksand/quicksand-variablefont_wght-webfont.woff2) format('woff2');
}


h1, h2, h3 {text-align: center;
            font-family: monospace;
            margin: 10px;
            font-family: montserrat;
            color: white;
            font-family: 'quicksand';
            ;}

body {text-align: center;
    font-family: 'quicksand';
    font-weight: 550;
    padding: 10px;
    background-color: rgb(32,33,36);
    color: white;
    }

.atria, .haxi0, .twitter {background-color: white;
        color: black;
        font-family: 'quicksand';
        font-weight: 600;
        font-size: 25px;
        border: 0px;
        padding: 16px;
        cursor: pointer;
        position: relative;
        border-radius: 12px;
        width: 90%;
        max-width: 500px;
        margin: 10px auto;
        display: block;}